XML_XMLParsers/src/Task2/output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="units_catalog" type="units_catalogType"/>
  <xs:complexType name="cityType">
    <xs:sequence>
      <xs:element name="adress">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Bazhana Ave"/>
            <xs:enumeration value="Loggerhead Heights"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="block">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="14"/>
            <xs:enumeration value="66"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Kyiv"/>
            <xs:enumeration value="Kanata"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="units_catalogType">
    <xs:sequence>
      <xs:element type="cityType" name="city" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>